*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.name {
  color: #3d6cb9;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper h2 {
  text-transform: uppercase;
  text-align: center;
}

.underline {
  width: 60px;
  height: 4px;
  margin: 0 auto 40px;
  background-color: #3d6cb9;
}

.scroll-fix::before {
  content: '';
  display: block;
  height: 66px;
  margin-top: -66px;
}

.visibility {
  visibility: hidden;
}

.jumbotron {
  margin: 0;
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color .6s;
  transition: background-color .6s;
}

nav .navbar-brand {
  font-weight: bold;
}

nav i {
  padding: 10px;
  color: white;
}

nav a {
  color: white;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav a:hover {
  color: #3d6cb9;
}

nav .active {
  color: #ffffff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

header {
  overflow: hidden;
  color: #ffffff;
}

header h1 {
  text-transform: uppercase;
  font-size: 30px;
}

header .hero-img {
  height: 100vh;
  background-image: url(../img/stock-1863880_640.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: -10;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header .hero-text p {
  font-size: 12px;
  color: #ffffffbd;
}

header .fa-caret-down {
  display: none;
}

#about i {
  font-size: 30px;
  margin-top: 20px;
}

#about h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

#about p {
  font-size: 14px;
}

#about .about-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

#about .about-hover:hover {
  color: #3d6cb9;
}

#about h4 {
  padding-bottom: 30px;
}

#about-hero {
  color: #ffffff;
}

#about-hero .jumbotron {
  background-image: url(../img/office-1209640_640.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  background-attachment: fixed;
}

#about-hero i {
  font-size: 30px;
  margin-top: 20px;
  z-index: 0;
}

#about-hero h3 {
  font-weight: bold;
  font-size: 20px;
  z-index: 0;
  text-transform: uppercase;
}

#about-hero .about-shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.89);
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
}

#offer .card {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#offer .card img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#offer .card h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#offer .card p {
  text-align: center;
  font-size: 14px;
}

#offer .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#offer .card-body {
  height: 150px;
}

#offer .slick-prev:before, #offer .slick-next:before {
  color: #3d6cb9;
}

#contact {
  color: #ffffff;
}

#contact .jumbotron {
  position: relative;
  background-image: url(../img/kontakt_640.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
}

#contact .hero-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
}

#contact h2 {
  text-align: center;
  text-transform: uppercase;
}

#contact h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#contact a {
  color: #ffffff;
}

#contact a:visited {
  color: #ffffff;
}

#contact i {
  font-size: 40px;
  padding: 20px;
}

.contact2 {
  padding: 10px 20% 10px;
  background-color: #e9ecef;
}

.contact-text {
  margin: 45px auto;
}

.mail-message-area {
  width: 100%;
  padding: 0 15px;
}

.mail-message {
  width: 100%;
  background: rgba(255, 255, 255, 0.8) !important;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  margin: 0 auto;
  border-radius: 0;
}

.not-visible-message {
  height: 0px;
  opacity: 0;
}

.visible-message {
  height: auto;
  opacity: 1;
  margin: 25px auto 0;
}

.form {
  width: 100%;
  padding: 15px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 25px;
  color: #727272 !important;
  font-size: 13px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form:hover {
  border: 1px solid #3d6cb9;
}

.form:focus {
  color: white;
  outline: none;
  border: 1px solid #3d6cb9;
}

.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

.button {
  padding: 8px 12px;
  background: #3d6cb9;
  display: block;
  width: 120px;
  margin: 10px 0 0px 0;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-size: 0.8em;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background: #3d6cb9;
  color: white;
}

.form-btn {
  width: 180px;
  display: block;
  height: auto;
  padding: 15px;
  color: #fff;
  background: #3d6cb9;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.form-btn:hover {
  background: #000000;
  color: white;
  border: none;
}

.form-btn:active {
  opacity: 0.9;
}

center {
  margin-top: 330px;
}

input {
  position: relative;
  z-index: 9999;
}

footer {
  background-color: #e9ecef;
  text-align: center;
}

footer p {
  bottom: 0px;
  margin: 0px;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header .hero-text p {
    font-size: 16px;
  }
}

@media (min-width: 500px) {
  #offer .card-body {
    height: 120px;
  }
}
/*# sourceMappingURL=main.css.map */